header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #272727;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid var(--main-color);
  flex-wrap: wrap;
}

header a {
  color: var(--font-color);
}

header a:hover {
  cursor: pointer;
}

header a.active,
header .header-nav a:hover {
  color: var(--main-color);
}

.header-logo,
.header-nav,
.header-nav > div {
  display: flex;
}

.header-logo {
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 2rem;
}

.header-logo > * {
  padding: 0.5rem;
}

.header-logo a {
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0.185em;
  font-variant: small-caps;
}

.header-nav div > * {
  padding: 0.5rem 1rem 0 1rem;
}

.header-nav a {
  font-weight: 500;
  letter-spacing: 0.185em;
}

@media screen and (max-width: 680px) {
  .header-logo, .header-nav {
    margin: 0 auto;
  }

}
