<header>
  <div class="header-logo" routerLink="/home">
    <img src="/assets/images/logo.svg" width="30px" height="50px" alt="Home" />
    <a>Maze Game</a>
  </div>

  <div class="header-nav">
    <div routerLink="/home">
      <a routerLinkActive="active">Home</a>
    </div>
    <div routerLink="/maze">
      <a routerLinkActive="active">Maze</a>
    </div>
    <div routerLink="/stats">
      <a routerLinkActive="active">Statistics</a>
    </div>
  </div>
</header>
