main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2.5rem;
  flex-wrap: wrap;
  /* background-color: #353535; */
}

.cell {
  padding: 12px;
  border: 1px solid white;
}

table {
  position: relative;
}

.congrat {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.goal-reached {
  display: flex;
}

.cell.active {
  background-color: var(--main-color) !important;
}

.cell.goal {
  background-color: green;
}

.north {
  border-top: none;
}

.south {
  border-bottom: none;
}

.east {
  border-right: none;
}

.west {
  border-left: none;
}

.rules {
  background-color: transparent;
  height: 470px;
  width: 300px;
  perspective: 1000px;
}

.rules-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.rules.flipped .rules-inner {
  transform: rotateY(180deg);
}

.rules.flipped .rules-front {
  opacity: 0;
}

.rules-front, .rules-back {
  opacity: 1;
  position: absolute;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  max-width: 300px;
  background-color: var(--background-color);
  transition: opacity 0.2s ease-out;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 3px dotted white;
  border-radius: 2rem;
}

.flip {
  position: absolute;
  top: 30px;
  right: 30px;
}

.flip:hover {
  cursor: pointer;
}

.rules-back {
  transform: rotateY(180deg);
}

.controls {
  margin: 0 auto !important;
}

p.controls {
  text-align: center;
}

.shake {
  animation-name: shake-animation;
  animation-duration: 0.3s;
}

@media screen and (max-width: 660px) {
  .cell {
    padding: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .rules {
    margin-top: 2rem;
  }
}

@keyframes shake-animation {

  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
