<main>
  <table [ngClass]="{'shake': shake}">
    <div class="congrat" [ngClass]="{ 'goal-reached': goalReached }">
      <img src="/assets/images/congratulations.svg" alt="Congratulations" width="auto" height="80px">
    </div>
    <tbody #mazeElem>
      <tr *ngFor="let rowOfCells of maze">
        <td *ngFor="let cell of rowOfCells" [ngClass]="
        {
          'north': cell.north,
          'west': cell.west,
          'south': cell.south,
          'east': cell.east,
          'isVisited': cell.isVisited,
          'active': (player.x === cell.x && player.y === cell.y),
          'goal': (goal.x === cell.x && goal.y === cell.y)
        }" class="cell">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="rules" [ngClass]="{'flipped': flipped}">
    <div class="rules-inner">
      <div class="rules-front">
        <img class="flip" src="/assets/images/swipe.svg" alt="Flip the card" width="auto" height="20px"
          (click)="flip()">
        <h2>Rules</h2>
        <p>The rules are simple. You are the red cell and you have to reach the green cell to win over the game.</p>
        <h2>Controls</h2>
        <img class="controls" src="/assets/images/controls.svg"
          alt="&larr; move left, &rarr; move right, &uarr; move top, &darr; move down" height="100px" width="100px">
        <p class="controls">Use the arrows to move in the maze.</p>
      </div>
      <div class="rules-back">
        <img class="flip" src="/assets/images/swipe.svg" alt="Flip the card" width="auto" height="20px"
          (click)="flip()">
        <h2>Solution</h2>
        <p>You wanna win the game easily uh ? Then I have what you need :
          <a (click)="solution()">
            <img src="/assets/images/idea.svg" alt="Hint" width="auto" height="24px">
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
