/** Police d'écriture application **/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Baloo Bhaijaan 2', cursive !important;
  color: var(--font-color);
}

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a:hover {
  cursor: pointer;
}

/* Global color */

:root {
  --main-color: #FF7878;
  --font-color: white;
  --background-color: #272727;
}
