<main>
  <h2>What is Maze game ?</h2>
  <p>Maze game is a project I spent my time on when I had free-time. It is a game where the player needs to find his way
    to the maze's end. After he reached it, he will score up and be able to play again ! What a great concept !</p>
  <h2>Why did you make this "game" ?</h2>
  <p>For a while I’ve been a-maze-d by how maze are generated. So in a whim I decided to search in the most
    unconventional
    place I could find, Wikipedia. At first I didn’t think I would make a game. I was just wondering how I could
    implement
    it in JavaScript because I was still in the learning phase. After I played with transition, delay and many others
    functions that I didn’t need, I decided to make it so we can at least have a bit of interactions and to do that I
    made
    it into a "game".</p>

  <h2>Why did you mentionned JavaScript when you used Angular to make this website ?</h2>
  <p>Well, you are totally right. As I mentionned I made this project when I was still in the learning phase in 2020.
    Now,
    two years later, I searched in all my drafts to build a portfolio and like a lot of students it is really hard to
    have
    some real content. I worked on a lot of projects during my almost 3 years work-study program and each and every one
    of
    them is not available for display.
    So I decided to add something better to this project by using one of the framework I worked with, Angular.</p>

  <h2>How did you proceed during your development ?</h2>
  <p>I am not gonna lie, at first I was just doing some random things like using transition to move a square back and
    forward. I don’t need to tell that it was useless later ahah. Seriously, I love design so I am using a lot Figma to
    make my drafts. I went for a black-design that is so popular these days.
    After I had an idea of the visuals, I searched what functionnalities were necessary for the game to work, like a
    shaking effect... Very important. After that I decided to make a Git’s repository to save my files. Finally, I used
    a special IDE that no one uses, Visual Studio Code. That’s it. Some code, git add, commit, push, eat, sleep and
    start again until somehow it looks like something !</p>
</main>
